.headerButton {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  padding: 0.7rem 2rem;
  font-weight: 700;
  font-size: 18px;
  text-align: center;
  text-decoration: none;
  color: #fff;
  backface-visibility: hidden;
  border: 0.3rem solid transparent;
  border-radius: 9rem;
  border-color: transparent;
  transition: background-color .3s ease-in;
}

.headerButton:hover {
  color: #fff;
  background-color: #60605e;
}